
// @mixin clearfix {
//     &::after {
//         content: '';
//         display: table;
//         clear: both;
//     }
// }

@mixin socialLinks {
    
    .social-media__link {
        height: 5rem;
        width: 5rem;
        margin-right: 4rem;
    }
}

@mixin project-cards {
    position: relative;
    // display: flex;
    // bottom: -10%;
    // right: 55%;
    height: 90%;
    width: 45%;
    background-image: linear-gradient(
        to bottom, 
        rgba(17, 0, 255, 0.14), 
        rgba(10, 10, 208, 0.65),
        rgba(24, 17, 112, 1));
        // url('../../assets/affogato\ IMG.png');
    background-position: center;
    box-shadow: black 1.5rem 1.5rem 2rem;
    transition: all .5s ease-in;

    &:hover, &:active {
        .card__text-box {
            .heading-primary {
                &--main {
                    color: rgba(140, 140, 140, 1);
                }
                &--sub {
                    cursor: pointer;
                    font-size: 2.5rem;
                    font-weight: bold;

                    &:hover {
                        color: rgb(180, 180, 180);
                    }

                    //? ARROW on view details hover actions
                    &:after {
                        content: ' \2192';
                        height: .5rem;
                        width: .5rem;
                        padding: .9rem;
                        vertical-align: top;
                        
                    }
                }
            }
        }

    }
    
    img {
        position: relative;
        width: 100%;
        height: 99%;
        z-index: -2;
    }
    
    .card__text-box {
        position: absolute;
        top: 65%;
        left: 15%;

        .heading-primary {
            color: white;

            &--main {
                display: block;
                max-width: 45%;
                font-size: 2rem;
                margin-bottom: 2rem;
                line-height: 2.5rem;
            }

            &--sub {
                display: block;
                font-size: 1.5rem;
                line-height: 2rem;
                transition: all .3s ease-in;
            }
        }
        
    }
}

@mixin button-scale {
    transition: all .3s ease-in;

    &:hover {
        cursor: pointer;
        transform: scale(1.15);
    }

}

@mixin modal-project-img-background($rgba1, $rgba2, $rgba3) {
    background-image: linear-gradient(
                to bottom, 
                $rgba1,
                $rgba2,
                $rgba3);
}