// Development ENV
$header-bg-dev: url('../../assets/Background-hero2.png');
$about-bg-dev: url('../../assets/Path 5.png');
$projects-bg-dev: url('../../assets/Background.png');

// Production ENV
$header-bg-prod: url('../circlefolio/assets/Background-hero2.png');
$about-bg-prod: url('../circlefolio/assets/Path 5.png');
$projects-bg-prod: url('../circlefolio/assets/Background.png');