
.section-about {
    position: relative;
    min-height: 95rem;
    background-image: $about-bg-prod;
    background-size: cover;
    background-position: center;

    &__card {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        width: 79%;
        height: 66%;
        top: 20%;
        left: 10%;
        background-color: white;
        border-radius: 8rem;
        box-shadow: gray 1.5rem 1.5rem 3rem;


        .card__persona-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            img {
                height: 35rem;
                width: 35rem;
                pointer-events: none;
            }
        }
    
        .card__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-self: center;
            height: 90%;
            width: 50%;
    
            &--title {
                text-align: center;
                margin: 0 auto;
                width: 80%;
                font-size: 3rem;
                font-weight: bold;
            }
    
            &--description {
                font-size: 2.25rem;
                line-height: 1.5;
    
            }
    
            &--buttons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 15%;
    
                .btn-about {
                    width: 40%;
                    button {
                        height: 60%;
                        width: 100%;    
                        padding: 1.5rem .5rem;
                        color: white;
                        background: linear-gradient(to right, #006BD6, #46ADE0);
                        border:none;
                        outline: none;
                        font-size: 2rem;

                        @include button-scale;
                        &:hover {
                            background: linear-gradient(to right, #0b22ec, #026799);
                        }

                        a:visited {
                            color: white;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 780px) {
    .section-about {
        min-height: 116rem;
        &__card {
            top: 15%;
            left: 10%;
            min-height: 93rem;
            padding: 2rem;
            flex-direction: column;
            align-items: center;

            .card__persona-img {
                width: 75%;
                margin-bottom: 2rem;
            }
        
            .card__text {
                width: 80%;
        
                &--title {
                    font-size: 3rem;
                }
        
                &--description {
                    font-size: 2.4rem;
        
                }
        
                &--buttons {
                    justify-content: space-evenly;
        
                    button {
                        width: 15rem;
                        font-size: 2.25rem;
                    }
                }
            }
        }

    }
}

@media (max-width: 540px) { 
    .section-about {
        min-height: 150rem;
        background-position: 50% 50;
        &__card {
            min-height: 120rem;
            .card__text {
                width: 85%;
        
                &--title {
                    font-size: 3.5rem;
                }
        
                &--description {
                    font-size: 3rem;
        
                }
        
                &--buttons {
                    .btn-about {
                        button {
                            font-size: 2.4rem;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}
    