.section-projects {
    position: relative;
    min-height: 85rem;
    max-height: fit-content;
    background-image: $projects-bg-prod;
    background-size: cover;

    &__cards-box {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 55%;
        width: 85%;
        top: 35%;
        left: 8%;
        z-index: 0;

        .card-left-wrapper {
            @include project-cards;
            margin-top: 10rem;
        }
            
        .card-right-wrapper {
            @include project-cards;    
            margin-bottom: 10rem;
    
        }
    }

}


@media only screen and (max-width: 780px) {
    .section-projects {
        min-height: 180rem;
        background-position: 55% 50%;
        &__cards-box {
            position: absolute;
            flex-direction: column;
            justify-content: space-evenly;
            height: 65%;
            width: 100%;
            top: 30%;
            left: 0%;
            z-index: 0;

            .card-left-wrapper {
                margin: 4rem;
                width: 55%;
            }

            .card-right-wrapper {
                margin: 4rem;
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 630px) {
    .section-projects {
        &__cards-box {
            .card-left-wrapper {
                width: 65%;
            }

            .card-right-wrapper {
                width: 65%;
            }
        }
    }
}