.ut-text-color-blue {
    color: #006BD6;
}

.ut-margin-t-5r {
    margin-top: 5rem;
}

.ut-max-w-40r {
    max-width: 40rem;
}

.ut-max-w-30r {
    max-width: 30rem;
}

.ut-bold-text {
    // color: rgb(0, 107, 214);
    font-weight: bold;
}

@media only screen and (max-width: 780px) {
    .ut-padding-t-media-query-MEDIUM {
        padding-top: 10rem;
    }
}